<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtktiger</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tiger.icns</string>
			<key>CFBundleTypeName</key>
			<string>rtktiger</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>RTKTigerDocument</string>
		</dict>
        <dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>txt</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>RTKTigerDocument</string>
		</dict>
        <dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ptx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tiger.icns</string>
			<key>CFBundleTypeName</key>
			<string>ptx</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>RTKTigerDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtkgroup</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tiger.icns</string>
			<key>CFBundleTypeName</key>
			<string>rtkgroup</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>RTKGroupDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>CleverRabbit</string>
	<key>CFBundleIconFile</key>
	<string>cr_icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.karlk.rtk.CleverRabbit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.2006.04.11</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
